body {
  background-color: rgb(164, 109, 79);
}
button {
  background-color: rgb(160, 45, 58) !important;
  border-color: rgb(160, 45, 58) !important;
}

button.mid {
  min-width: 250px;
  max-width: 300px;
}

button.small {
  min-width: 120px;
  max-width: 130px;
}

audio {
  display: hidden;
}

/* footer {
  position: absolute;
  bottom: 0;
} */

.fork-me-on-github {
  position: absolute;
  right: 0;
}

.border {
  background-color: rgb(192, 98, 102);
  margin: 5px;
  display: inline-block;
  margin-right: calc(100vw - 100%);
}
.btn-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-container > button {
  margin: 10px;
  flex: auto;
}

.text-large {
  font-size: 48px;
}

.text-small {
  font-size: 16px;
}

.wf-nicomoji {
  font-family: "Nico Moji";
}

.copyright:any-link {
  color: brown;
  font-weight: bold;
}
