@font-face {
  font-family: "Nico Moji Plus";
  src: url("../font/sub_nicomoji-plus_1.11.woff") format("woff");
}

body {
  background-color: rgb(164, 109, 79);
}
button {
  background-color: rgb(160, 45, 58) !important;
  border-color: rgb(160, 45, 58) !important;
}

button.large {
  min-width: 400px;
  max-width: 450px;
}

button.mid {
  min-width: 250px;
  max-width: 300px;
}

button.small {
  min-width: 120px;
  max-width: 130px;
}

audio {
  display: hidden;
}

/* footer {
  position: absolute;
  bottom: 0;
} */

.fork-me-on-github {
  position: absolute;
  right: 0;
  z-index: 1;
}

.border {
  background-color: rgb(192, 98, 102);
  margin: 10px;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-container > button {
  margin: 10px;
  flex: auto;
}

.text-large {
  font-size: 48px;
}

.text-mid {
  font-size: 28px;
}

.text-small {
  font-size: 16px;
}

.group-description {
  color: rgb(160, 45, 58);
  stroke-width: 2px;
  stroke: black;
  margin-left: 10px;
}

.wf-nicomoji {
  font-family: "Nico Moji Plus";
}

.copyright:any-link {
  color: brown;
  font-weight: bold;
}
