@font-face {
  font-family: "Nico Moji Plus";
  src: url("../font/sub_nicomoji-plus_1.11.woff") format("woff");
}

body {
  background-color: rgb(164, 109, 79);
  font-family: "Nico Moji Plus", "Nico Moji", "Noto Sans JP";
}
button {
  background-color: rgb(160, 45, 58) !important;
  border-color: rgb(160, 45, 58) !important;
}

a:any-link {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button.large {
  min-width: 400px;
  max-width: 450px;
}

button.mid {
  min-width: 250px;
  max-width: 300px;
}

button.small {
  min-width: 120px;
  max-width: 130px;
}

footer {
  color: black;
}

audio {
  display: hidden;
}

.fork-me-on-github {
  position: absolute;
  right: 0;
  z-index: 1;
}

.border {
  background-color: rgb(192, 98, 102);
  margin: 10px;
}

.voice-button {
  font-family: "Nico Moji Plus";
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-container > button {
  font-family: "Noto Sans JP", sans-serif;
  margin: 10px;
  flex: auto;
}

.text-large {
  font-size: 48px;
}

.text-mid {
  font-size: 28px;
}

.text-small {
  font-size: 16px;
}

.group-description {
  color: rgb(160, 45, 58);
  stroke-width: 2px;
  stroke: black;
  margin-left: 10px;
}

.tweet-button {
  display: inline-block;
  margin: 20px 10px 15px;
}

.social-icon-container > a {
  width: 32px;
}

.social-icon-youtube {
  display: inline-block;
  height: 16px;
}

.social-icon-youtube > img {
  width: 30px;
  margin: 4px 0px;
}

.social-icon-twitter {
  margin-top: 22px;
  height: 32px;
}

.social-icon-twitter > img {
  width: 40px;
}
