@font-face {
  font-family: "Nico Moji Plus";
  src: url("../font/sub_nicomoji-plus.woff2") format("woff");
}

:root {
  --marine-main-color: rgb(160, 45, 58);
  --marine-primary-color: rgb(192, 98, 102);
  --marine-sub-color:  rgb(164, 109, 79);
}

body {
  margin: 0;
  background-color: var(--marine-sub-color);
  font-family: "Nico Moji Plus", "Nico Moji", "Noto Sans JP";
}

.twitter-share-button {
  display: inline-block;
  text-decoration: none;
}

img.site-logo#text {
  margin-bottom: -1px;
}

button {
  background-color: var(--marine-main-color) !important;
  border-color: var(--marine-main-color) !important;
}

a.mb-link:any-link {
  color: inherit;
}

a.mb-link:hover {
  text-decoration: none;
}

button.large {
  max-width: 450px;
}

button.mid {
  max-width: 300px;
}

button.small {
  max-width: 130px;
}

footer {
  color: black;
}

.footer-bar {
  background-color: var(--marine-sub-color);
  font-family: "Nico Moji Plus", "Nico Moji", "Noto Sans JP";
}

.footer-bar-toolbar {
  display: flex;
  background-color: var(--marine-sub-color);
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

article.footer-bar-toolbar-copyright {
  margin-left: auto;
}

audio {
  display: hidden;
}

.fork-me-on-github {
  position: absolute;
  right: 0;
  z-index: 1;
}

.site-logo {
  width: 52px;
  line-height: 52px;
}

.border {
  border: 2px solid lightgray;
  border-radius: 4px;
  background-color: var(--marine-primary-color);
  margin: 10px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-container > button {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  font-weight: bold;
  margin: 10px;
  flex: auto;
}

.serif {
  font-family: "Noto Sans JP", sans-serif;
}

.monospace {
  font-family: monospace;
}

.notice-title {
  color: var(--marine-main-color);;
  padding-left: 10px;
}

.notice-content {
  padding-top: 10px;
  padding-left: 10px;
  color: black;
}

.last-updated-info {
  padding-right: 10px;
  padding-bottom: 5px;
}

.text-large {
  font-size: 52px;
}

.text-mid {
  font-size: 28px;
}

.text-small {
  font-size: 16px;
}

.text-very-small {
  font-size: 10px;
}

.group-description {
  color: var(--marine-main-color);
  stroke-width: 2px;
  stroke: black;
  margin-left: 10px;
}

.tweet-button {
  display: inline-block;
  margin: 20px 10px 15px;
}

.social-icon-container {
  width: 32px;
  margin: 5px;
  z-index: 2;
}

.social-icon-container > a {
  width: 100%;
  height: 100%;
}

.volume-icon {
  margin: 0 12px 0;
}
