@font-face {
  font-family: "Nico Moji Plus";
  src: url("../font/sub_nicomoji-plus.woff2") format("woff");
}

body {
  background-color: rgb(164, 109, 79);
  font-family: "Nico Moji Plus", "Nico Moji", "Noto Sans JP";
}

button {
  background-color: rgb(160, 45, 58) !important;
  border-color: rgb(160, 45, 58) !important;
}

a.mb-link:any-link {
  color: inherit;
}

a.mb-link:hover {
  text-decoration: none;
}

button.large {
  max-width: 450px;
}

button.mid {
  max-width: 300px;
}

button.small {
  max-width: 130px;
}

footer {
  color: black;
}

audio {
  display: hidden;
}

.fork-me-on-github {
  position: absolute;
  right: 0;
  z-index: 1;
}

.site-logo {
  width: 52px;
  line-height: 52px;
  padding-bottom: 11px;
}

.border {
  background-color: rgb(192, 98, 102);
  margin: 10px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-container > button {
  font-family: "Noto Sans JP", sans-serif;
  margin: 10px;
  flex: auto;
}

.serif {
  font-family: "Noto Sans JP", sans-serif;
}

.monospace {
  font-family: monospace;
}

.notice-title {
  color: rgb(160, 45, 58);
  padding-left: 10px;
}

.notice-content {
  padding: 10px;
  color: black;
}

.text-large {
  font-size: 52px;
}

.text-mid {
  font-size: 28px;
}

.text-small {
  font-size: 16px;
}

.text-very-small {
  font-size: 10px;
}

.group-description {
  color: rgb(160, 45, 58);
  stroke-width: 2px;
  stroke: black;
  margin-left: 10px;
}

.tweet-button {
  display: inline-block;
  margin: 20px 10px 15px;
}

.social-icon-container {
  width: 32px;
  z-index: 2;
}

.social-icon-container > a {
  width: 100%;
  height: 100%;
}

.social-icon-youtube {
  display: inline-block;
  height: 50%;
}

.social-icon-youtube > img {
  width: 98%;
  margin: 12% 0px;
}

.social-icon-twitter {
  margin-top: 10%;
  height: 100%;
}

.social-icon-twitter > img {
  width: 120%;
}
