@media screen and (max-width:991px) {
  .fork-me-on-github {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .fork-me-on-github {
    display: none;
  }
  .header-contantainer-title {
    font-size: 30px;
  }

  .site-logo {
    width: 32px;
    line-height: 32px;
    padding-bottom: 5px;
  }
}
